/* Thanks: https://lab.magiconch.com/homo/*/
html { background: #b3d0d0; color: #002b41; }
.center { text-align: center; }
.title{
    display: block;
    font-weight: 700;
    font-size: 2em;
    margin: 0.67em;
    line-height: 45px;
    text-align: center
}
body{
    margin: 0;
    text-align: center;
    padding: 0px 0px 100px;
}
.mainNumber{
    font-size:60px;
    padding:40px 10px 100px;
}
button {
    font-size: 1.5em
}